/*Upload component styling*/
input[type=file] {
    display: none
}

label.control-label[for$="_images"] {
    font-size: 0;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
    background-color: #00a65a;
    border: 1px solid #008d4c;
    color: #fff;
    margin-right: 12px
}

label.control-label[for$="_images"]:hover {
    background-color: #008d4c;
    border-color: #398439;
}

label.control-label[for$="_images"]::before {
    content: "Upload";
    font-size: 12px;
    display: inline-block;
}

ul.treeview-menu.menu_level_1 {
    display: block;
}

.admin-preview-image {
    max-width: 100px;
}